<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Controller.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="dataBase" serializeAs="String">
        <value>PROJETOPILOTO_BD</value>
      </setting>
      <setting name="userDataBase" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="passDataBase" serializeAs="String">
        <value>sa</value>
      </setting>
    </Controller.Properties.Settings>
  </userSettings>
</configuration>